mlflow
jupyter
scikit-learn
pandas
seaborn
hyperopt
xgboost
fastparquet
boto3
prefect
tqdm
requests
joblib
pyarrow
psycopg
psycopg_binary
evidently==0.6.7
numpy
workalendar
catboost
pre-commit>=3.0.0
pylint>=3.0.0
black>=23.0.0
kaggle
python-dotenv
pytrends
click
hyperopt
